<h1>Product Data</h1>

<p *ngIf="!empList"><em>Loading...</em></p>

<div class="container"  *ngIf="empList">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Desciption</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of empList">
        <td>{{ emp.productID }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.price }}</td>
        <td>{{ emp.description }}</td>
        <td>
        <td>
          <a [routerLink]="['/product/edit/', emp.productID]">Edit</a>|<a [routerLink]="" (click)="delete(emp.productID)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
