<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Angular Bootstrap Demo</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
  </div>
</nav>
