<h1>Product Data</h1>

<p>This component demonstrates fetching Product data from the server.</p>

<p *ngIf="!empList"><em>Loading...</em></p>

<p>
  <a [routerLink]="['/register-product']">Create New</a>
</p>


<div class="container" style="margin-top: 70px;"  *ngIf="empList">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>productID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Desciption</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of empList">
        <td>{{ emp.productID }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.price }}</td>
        <td>{{ emp.description }}</td>
        <td>
        <td>
          <a [routerLink]="['/product/edit/', emp.productID]">Edit</a> |
          <a [routerLink]="" (click)="delete(emp.productID)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
