<h1>{{title}}</h1>
<hr />
<div class="container" style="margin-top: 70px;">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div>
        <form [formGroup]="employeeForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
          <div class="form-group row">
            <label for="name">Name</label>
            <input class="form-control" type="text" formControlName="name">
            <span class="text-danger" *ngIf="name.invalid && formDir.submitted">
              Name is required.
            </span>
          </div>
          <div class="form-group row">
            <label for="price">Price</label>
             <input class="form-control" type="text" formControlName="price">
            <span class="text-danger" *ngIf="price.invalid && formDir.submitted">
              Price is required.
            </span>
          </div>
          <div class="form-group row">
            <label for="description">Description</label>
            <input class="form-control" type="text" formControlName="description">
            <span class="text-danger" *ngIf="description.invalid && formDir.submitted">
              Description is required.
            </span>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">Save</button>
            <button class="btn" (click)="cancel()">Cancel</button>
          </div>
        </form>
       </div>
    </div>
  </div>
</div>

